{%  extends "model/base.html" %}
{% block title %}读者主页{% endblock %}

{% block content %}
 <div class="row search-box">
                <!-- 主搜索框 -->
            <form class="form-inline   m-auto  ">
              <div class="input-group input-group-lg">
                <input class="form-control form-control-navbar" type="search" placeholder="搜索图书" aria-label="Search">
                <div class="input-group-append gradient-color-ver hoverColor search-radius search-margin-left">
                  <button class="btn btn-navbar " type="submit">
                    <i class="fas fa-search" style="color: white"></i>
                  </button>
                </div>
              </div>
            </form>
        </div>
        <!-- /.row -->
          <div class="row index-content"    >
              <div class="card col-lg-4 offset-lg-1 card-color">
              <div class="card-header">
                <h3 class="card-title">热门图书</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 6px">#</th>
                      <th>书名</th>
                        <th>作者</th>
                      <th >借阅数量</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>他改变了中国</td>
                        <td>罗伯特·劳伦斯·库恩</td>
                      <td><span class="badge bg-danger" style="width: 70px">555</span></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>算法导论</td>
                        <td>Thomas H.Cormen</td>
                      <td><span class="badge bg-warning" style="width: 70px">540</span></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>成为守夜冠军</td>
                        <td>游张政</td>
                      <td><span class="badge bg-primary" style="width: 70px">530</span></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>我的老家</td>
                        <td>江小白</td>
                      <td><span class="badge bg-success" style="width: 70px">520</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->

            </div>
               <div class="card col-lg-4 offset-lg-2 card-color">
              <div class="card-header">
                <h3 class="card-title">图书馆公告</h3>

                <div class="card-tools">
                  <ul class="pagination pagination-sm float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>标题</th>
                      <th>发布时间</th>
                      <th >阅读量</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td> <a href="#">疫情期间管理方案</a></td>
                      <td>
                            2020-5-4
                      </td>
                      <td><span class="badge bg-danger" style="width: 70px">995</span></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td><a href="#">借书制度变更</a></td>
                      <td>
                         2020-5-4
                      </td>
                      <td><span class="badge bg-warning" style="width: 70px">700</span></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td><a href="#">图书馆开放时间</a></td>
                      <td>
                         2020-5-4
                      </td>
                      <td><span class="badge bg-primary" style="width: 70px">400</span></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td><a href="#">引入新书</a></td>
                      <td>
                            2020-5-4
                      </td>
                      <td><span class="badge bg-success" style="width: 70px">560</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
{% endblock %}
